#
# MoDeCaSo - A Web Application for Modified Delphi Card Sorting Experiments
# Copyright (C) 2014-2015 Peter Folta. All rights reserved.
#
# Project:         MoDeCaSo
# Version:         1.0.0
#
# File:            /frontend/.htaccess
# Created:         2014-11-03
# Author:          Peter Folta <mail@peterfolta.net>
#

#
# Enable mod_rewrite
#
RewriteEngine On

#
# Don't rewrite files or directories
#
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#
# Rewrite everything else to index.html to allow html5 state links
#
RewriteRule ^ index.html [L]