#
# UPB-BTHESIS
# Copyright (C) 2004-2014 Peter Folta. All rights reserved.
#
# Project:			UPB-BTHESIS
# Version:			0.0.1
#
# File:			    /frontend/.htaccess
# Created:			2014-11-03
# Last modified:	2014-11-03
# Author:			Peter Folta <pfolta@mail.uni-paderborn.de>
#

#
# Enable mod_rewrite
#
RewriteEngine On

#
# Don't rewrite files or directories
#
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#
# Rewrite everything else to index.html to allow html5 state links
#
RewriteRule ^ index.html [L]