#
# MoDeCaSo - A Web Application for Modified Delphi Card Sorting Experiments
# Copyright (C) 2014-2015 Peter Folta. All rights reserved.
#
# Project:         MoDeCaSo
# Version:         1.0.0
#
# File:            /.gitignore
# Created:         2016-04-07
# Author:          Peter Folta <mail@peterfolta.net>
#

# OS X
**/.DS_Store

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN
**/*.lnk

# PhpStorm Project Files
/.idea
/*.iml

# Composer
/server/composer.phar
/server/vendor