;
; UPB-BTHESIS
; Copyright (C) 2004-2014 Peter Folta. All rights reserved.
;
; Project:			UPB-BTHESIS
; Version:			0.0.1
;
; File:			    /server/config.ini.sample
; Created:			2014-11-03
; Last modified:	2014-11-03
; Author:			Peter Folta <mail@peterfolta.net>
;

[main]
debug       = "true"

[database]
server      = "localhost"
database    = "modecaso"
username    = "modecaso"
password    = "modecaso"