;
; UPB-BTHESIS
; Copyright (C) 2014-2015 Peter Folta. All rights reserved.
;
; Project:			UPB-BTHESIS
; Version:			0.0.1
;
; File:			    /server/config.ini
; Created:			2014-11-03
; Last modified:	2015-01-10
; Author:			Peter Folta <pfolta@mail.uni-paderborn.de>
;

[main]
debug               = "false"
require_ssl         = "true"
application_url     = "https://modecaso.cs.uni-paderborn.de"

[database]
server              = "localhost"
database            = "modecaso"
username            = "modecaso"
password            = "modecaso"

[auth]
password_cost       = 14
session_lifetime    = 3600

[email]
sender_address      = "noreply@modecaso.cs.uni-paderborn.de"
subject_prefix      = "[MoDeCaSo]"